In [30]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

from sklearn import linear_model, cross_validation, preprocessing, neighbors, grid_search

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [31]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-12-walget-train.csv'))

In [32]:
df

,AccountHolderImpliedGender,AccountHolderAddress,RecentlyPurchasedPregnancyTest,RecentlyPurchasedBirthControl,RecentlyPurchasedFeminineHygieneProducts,...,RecentlyPurchasedSmokingCessationProducts,PurchasedWineRegularlyUntilRecentlyThenStopped,RecentlyPurchasedWine,RecentlyPurchasedMaternityClothing,IsPregnant
0,Female,Apartment,False,True,False,...,False,False,False,False,False
1,Male,Apartment,False,False,True,...,False,False,True,False,False
2,Male,Apartment,False,False,False,...,False,False,False,False,False
3,Male,Apartment,False,False,False,...,False,False,True,False,False
4,Male,Apartment,False,False,True,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
595,Female,PO Box,False,False,False,...,False,NaN,False,False,True
596,Female,Home,False,False,False,...,False,False,False,False,True
597,Female,Apartment,False,False,False,...,False,False,False,True,True
598,Female,Home,False,False,True,...,False,False,False,False,True
599,Female,Apartment,True,False,False,...,False,False,False,False,True

In [33]:
df.columns

Index([u'AccountHolderImpliedGender', u'AccountHolderAddress',
       u'RecentlyPurchasedPregnancyTest', u'RecentlyPurchasedBirthControl',
       u'RecentlyPurchasedFeminineHygieneProducts',
       u'RecentlyPurchasedFolicAcidSupplements',
       u'RecentlyPurchasedPrenatalVitamins',
       u'RecentlyPurchasedPrenatalYogaDVD', u'RecentlyPurchasedBodyPillow',
       u'RecentlyPurchasedGingerAle', u'RecentlyPurchasedSeaBands',
       u'PurchasedCigarettesRegularlyUntilRecentlyThenStopped',
       u'RecentlyPurchasedCigarettes',
       u'RecentlyPurchasedSmokingCessationProducts',
       u'PurchasedWineRegularlyUntilRecentlyThenStopped',
       u'RecentlyPurchasedWine', u'RecentlyPurchasedMaternityClothing',
       u'IsPregnant'],
      dtype='object')

In [34]:
df.isnull().sum()

AccountHolderImpliedGender                        58
AccountHolderAddress                               6
RecentlyPurchasedPregnancyTest                     6
RecentlyPurchasedBirthControl                      7
RecentlyPurchasedFeminineHygieneProducts          10
                                                  ..
RecentlyPurchasedSmokingCessationProducts         12
PurchasedWineRegularlyUntilRecentlyThenStopped    12
RecentlyPurchasedWine                              8
RecentlyPurchasedMaternityClothing                 3
IsPregnant                                         0
dtype: int64

In [35]:
print "AccountHolderImpliedGender nulls:  " + str(df.AccountHolderImpliedGender.isnull().sum())
print "AccountHolderAddress nulls:  " + str(df.AccountHolderAddress.isnull().sum())
print "RecentlyPurchasedPregnancyTest nulls:  " + str(df.RecentlyPurchasedPregnancyTest.isnull().sum())
print "RecentlyPurchasedBirthControl nulls:  " + str(df.RecentlyPurchasedBirthControl.isnull().sum())
print "RecentlyPurchasedFeminineHygieneProducts nulls:  " + str(df.RecentlyPurchasedFeminineHygieneProducts.isnull().sum())
print "RecentlyPurchasedFolicAcidSupplements nulls:  " + str(df.RecentlyPurchasedFolicAcidSupplements.isnull().sum())
print "RecentlyPurchasedPrenatalYogaDVD nulls:  " + str(df.RecentlyPurchasedPrenatalYogaDVD.isnull().sum())
print "RecentlyPurchasedBodyPillow nulls:  " + str(df.RecentlyPurchasedBodyPillow.isnull().sum())
print "RecentlyPurchasedGingerAle nulls:  " + str(df.RecentlyPurchasedGingerAle.isnull().sum())
print "RecentlyPurchasedFeminineHygieneProducts nulls:  " + str(df.RecentlyPurchasedFeminineHygieneProducts.isnull().sum())
print "RecentlyPurchasedFeminineHygieneProducts nulls:  " + str(df.RecentlyPurchasedFeminineHygieneProducts.isnull().sum())
print "RecentlyPurchasedFeminineHygieneProducts nulls:  " + str(df.RecentlyPurchasedFeminineHygieneProducts.isnull().sum())

AccountHolderImpliedGender nulls:  58
AccountHolderAddress nulls:  6
RecentlyPurchasedPregnancyTest nulls:  6
RecentlyPurchasedBirthControl nulls:  7
RecentlyPurchasedFeminineHygieneProducts nulls:  10
RecentlyPurchasedFolicAcidSupplements nulls:  1
RecentlyPurchasedPrenatalYogaDVD nulls:  6
RecentlyPurchasedBodyPillow nulls:  9
RecentlyPurchasedGingerAle nulls:  6
RecentlyPurchasedFeminineHygieneProducts nulls:  10
RecentlyPurchasedFeminineHygieneProducts nulls:  10
RecentlyPurchasedFeminineHygieneProducts nulls:  10

In [36]:
df1 = df*1

In [37]:
df1.dropna()

,AccountHolderImpliedGender,AccountHolderAddress,RecentlyPurchasedPregnancyTest,RecentlyPurchasedBirthControl,RecentlyPurchasedFeminineHygieneProducts,...,RecentlyPurchasedSmokingCessationProducts,PurchasedWineRegularlyUntilRecentlyThenStopped,RecentlyPurchasedWine,RecentlyPurchasedMaternityClothing,IsPregnant
0,Female,Apartment,0,1,0,...,0,0,0,0,0
1,Male,Apartment,0,0,1,...,0,0,1,0,0
2,Male,Apartment,0,0,0,...,0,0,0,0,0
3,Male,Apartment,0,0,0,...,0,0,1,0,0
4,Male,Apartment,0,0,1,...,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
594,Female,Apartment,0,0,0,...,0,0,0,0,1
596,Female,Home,0,0,0,...,0,0,0,0,1
597,Female,Apartment,0,0,0,...,0,0,0,1,1
598,Female,Home,0,0,1,...,0,0,0,0,1
599,Female,Apartment,1,0,0,...,0,0,0,0,1

In [38]:
df.AccountHolderAddress.describe()

count      594
unique       3
top       Home
freq       295
Name: AccountHolderAddress, dtype: object

In [39]:
df.AccountHolderImpliedGender.describe()

count        542
unique         2
top       Female
freq         301
Name: AccountHolderImpliedGender, dtype: object

In [40]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-12-walget-train.csv'))
df.dropna(inplace = True)
df.AccountHolderImpliedGender = df.AccountHolderImpliedGender.apply(lambda value: 0 if value == 'Male' else 1)
df_address = pd.get_dummies(df.AccountHolderAddress, prefix="AccountHolderAddressType")
df.drop('AccountHolderAddress', axis=1, inplace=True)
df = df.join([df_address])
df = df*1
df

,AccountHolderImpliedGender,RecentlyPurchasedPregnancyTest,RecentlyPurchasedBirthControl,RecentlyPurchasedFeminineHygieneProducts,RecentlyPurchasedFolicAcidSupplements,...,RecentlyPurchasedMaternityClothing,IsPregnant,AccountHolderAddressType_Apartment,AccountHolderAddressType_Home,AccountHolderAddressType_PO Box
0,1,0,1,0,0,...,0,0,1.0,0.0,0.0
1,0,0,0,1,0,...,0,0,1.0,0.0,0.0
2,0,0,0,0,0,...,0,0,1.0,0.0,0.0
3,0,0,0,0,0,...,0,0,1.0,0.0,0.0
4,0,0,0,1,0,...,0,0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
594,1,0,0,0,0,...,0,1,1.0,0.0,0.0
596,1,0,0,0,0,...,0,1,0.0,1.0,0.0
597,1,0,0,0,0,...,1,1,1.0,0.0,0.0
598,1,0,0,1,0,...,0,1,0.0,1.0,0.0
599,1,1,0,0,1,...,0,1,1.0,0.0,0.0

In [41]:
df.isnull().sum()

AccountHolderImpliedGender                  0
RecentlyPurchasedPregnancyTest              0
RecentlyPurchasedBirthControl               0
RecentlyPurchasedFeminineHygieneProducts    0
RecentlyPurchasedFolicAcidSupplements       0
                                           ..
RecentlyPurchasedMaternityClothing          0
IsPregnant                                  0
AccountHolderAddressType_Apartment          0
AccountHolderAddressType_Home               0
AccountHolderAddressType_PO Box             0
dtype: int64

In [42]:
df.shape

(446, 20)

In [43]:
df.corr().IsPregnant.sort_values(ascending = False).head()

IsPregnant                            1.000000
AccountHolderImpliedGender            0.131748
AccountHolderAddressType_Home         0.053855
AccountHolderAddressType_PO Box       0.009061
AccountHolderAddressType_Apartment   -0.060445
Name: IsPregnant, dtype: float64

In [44]:
train_df = df.sample(frac = .6, random_state = 0)
test_df = df.drop(train_df.index)

In [45]:
train_df.columns

Index([u'AccountHolderImpliedGender', u'RecentlyPurchasedPregnancyTest',
       u'RecentlyPurchasedBirthControl',
       u'RecentlyPurchasedFeminineHygieneProducts',
       u'RecentlyPurchasedFolicAcidSupplements',
       u'RecentlyPurchasedPrenatalVitamins',
       u'RecentlyPurchasedPrenatalYogaDVD', u'RecentlyPurchasedBodyPillow',
       u'RecentlyPurchasedGingerAle', u'RecentlyPurchasedSeaBands',
       u'PurchasedCigarettesRegularlyUntilRecentlyThenStopped',
       u'RecentlyPurchasedCigarettes',
       u'RecentlyPurchasedSmokingCessationProducts',
       u'PurchasedWineRegularlyUntilRecentlyThenStopped',
       u'RecentlyPurchasedWine', u'RecentlyPurchasedMaternityClothing',
       u'IsPregnant', u'AccountHolderAddressType_Apartment',
       u'AccountHolderAddressType_Home', u'AccountHolderAddressType_PO Box'],
      dtype='object')

In [52]:

names_X = [
    u'AccountHolderImpliedGender', 
    u'RecentlyPurchasedPregnancyTest',
    u'RecentlyPurchasedBirthControl',
    u'RecentlyPurchasedFeminineHygieneProducts',
    u'RecentlyPurchasedFolicAcidSupplements',
    u'RecentlyPurchasedPrenatalVitamins',
    u'RecentlyPurchasedPrenatalYogaDVD', 
    u'RecentlyPurchasedBodyPillow',
    u'RecentlyPurchasedGingerAle', 
    u'RecentlyPurchasedSeaBands',
    u'PurchasedCigarettesRegularlyUntilRecentlyThenStopped',
    u'RecentlyPurchasedCigarettes',
    u'RecentlyPurchasedSmokingCessationProducts',
    u'PurchasedWineRegularlyUntilRecentlyThenStopped',
    u'RecentlyPurchasedWine', 
    u'RecentlyPurchasedMaternityClothing',
    u'AccountHolderAddressType_Apartment',
    u'AccountHolderAddressType_Home', 
    u'AccountHolderAddressType_PO Box']

def X_c(df):
    X = df[ names_X ]
    c = df.IsPregnant
    return X, c

train_X, train_c = X_c(train_df)
test_X, test_c = X_c(test_df)

model = linear_model.LogisticRegression().\
    fit(train_X, train_c)
    
print 'training score =', str(model.score(train_X, train_c))
print 'testing score =', str(model.score(test_X, test_c))
print 'training misclassification =', 1 - model.score(train_X, train_c)
print 'testing  misclassification =', 1 - model.score(test_X, test_c)

training score = 0.880597014925
testing score = 0.842696629213
training misclassification = 0.119402985075
testing  misclassification = 0.157303370787

In [47]:
model = linear_model.LogisticRegression().\
    fit(train_X, train_c)

print model.intercept_
print model.coef_

[-0.62424469]
[[ 0.34360642  1.59052742 -1.55608371 -1.57718155  2.23491571  1.87382994
   0.87759426  0.59075067  0.90521012  0.30088385  1.38814416 -0.82636726
   1.19841542  1.04652964 -0.95029725  1.78378732 -0.15749996 -0.11916266
  -0.34758207]]

In [48]:
print 'training score =', str(model.score(train_X, train_c))
print 'testing score =', str(model.score(test_X, test_c))
print 'training misclassification =', 1 - model.score(train_X, train_c)
print 'testing  misclassification =', 1 - model.score(test_X, test_c)

training score = 0.880597014925
testing score = 0.842696629213
training misclassification = 0.119402985075
testing  misclassification = 0.157303370787

In [20]:
zip(names_X, np.exp(model.coef_[0]) - 1)

[(u'AccountHolderImpliedGender', 0.41002357174463255),
 (u'RecentlyPurchasedPregnancyTest', 3.9063359326736569),
 (u'RecentlyPurchasedBirthControl', -0.78903936133755948),
 (u'RecentlyPurchasedFeminineHygieneProducts', -0.79344355171339198),
 (u'RecentlyPurchasedFolicAcidSupplements', 8.3456940388471867),
 (u'RecentlyPurchasedPrenatalVitamins', 5.5131938041061099),
 (u'RecentlyPurchasedPrenatalYogaDVD', 1.405106687581466),
 (u'RecentlyPurchasedBodyPillow', 0.80534312955202125),
 (u'RecentlyPurchasedGingerAle', 1.4724513682846596),
 (u'RecentlyPurchasedSeaBands', 0.35105240702153884),
 (u'PurchasedCigarettesRegularlyUntilRecentlyThenStopped', 3.0074060532599969),
 (u'RecentlyPurchasedCigarettes', -0.56236377748578592),
 (u'RecentlyPurchasedSmokingCessationProducts', 2.3148600843336253),
 (u'PurchasedWineRegularlyUntilRecentlyThenStopped', 1.8477512407655872),
 (u'RecentlyPurchasedWine', -0.61337391878918979),
 (u'RecentlyPurchasedMaternityClothing', 4.9523572466771624),
 (u'AccountHolderAddressType_Apartment', -0.14572315216425402),
 (u'AccountHolderAddressType_Home', -0.112336598059396),
 (u'AccountHolderAddressType_PO Box', -0.29360596368170033)]